*.class
target/

*.log

.project
.classpath
.settings/

.idea/
*.iml
.vscode

.DS_Store

Thumbs.db

*.swp
*.swo

students.csv
courses.csv
enrollments.csv

.venv
*.pdf

enrollments.json
courses.json
audit.log
courses.json
students.json
